@using EatHealthy.Web.ViewModels.Recipe
@model IEnumerable<RecipeViewModel>
@{
    ViewData["Title"] = "Recommended Recipes";
}

<h2>@ViewData["Title"]</h2>

@if (!Model.Any())
{
    <div class="alert alert-info">
        No recommended recipes found. Try adding more products.
    </div>
}
else
{
    <div class="row">
        @foreach (var recipe in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@recipe.Name</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Calories: @recipe.TotalCalories</li>
                        </ul>
                        <a asp-controller="Recipe" asp-action="Details" asp-route-recipeId="@recipe.Id"
                           class="btn btn-primary mt-2">View Recipe</a>
                    </div>
                </div>
            </div>
        }
    </div>
}